<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Malaria in the 2000s</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/style.css">

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="index"><img
				src="https://cdn-images-1.medium.com/max/280/1*5FNIx4IXS0kqQhScxQCMmw.png"
				alt="mosquito logo" width="50" height="50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Maps & Charts
					</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="main">GDP & Malaria Stats Map</a>
							<a class="dropdown-item" href="main2">Malaria Deaths Bar Graph</a>
							<a class="dropdown-item" href="plots">GDP & Malaria Relationship Plot</a>
							
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sources
								</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="https://ourworldindata.org/malaria">Data Source</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="https://www.netflix.com/title/80184771">Inspiration</a>
										


							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Group Members
								</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="https://github.com/sfleishm">Scott Fleishman</a>
										<a class="dropdown-item" href="https://github.com/jschwan1282">Jay Schwan</a>
										<a class="dropdown-item" href="https://github.com/jarred104">Jarred Brouhard</a>
										<a class="dropdown-item" href="https://github.com/aminura">Arunima Menon</a>
										

						</div>					
				</li>
			</ul>
		</div>
					
				</li>
			</ul>
		</div>

	</nav>

    <div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
						<h2>
							Visualizing Malaria's Effect on the World
						</h2>
						<p>
							In this project, we utilized the Javascript library Leaflet to create an interactive map that shows the relationship between deaths caused by Malaria and GDP per capita.  Our Leaflet maps' base layer shows GDP by color scale.  Upon clicking each country, statistics will display.  There are also color-coded circles that indicate Malaria deaths in each country.  In our second and third visualizations, we used the Javascript library Charts to help display the global trend in Malaria deaths over the 2000s and further display GDP per capita vs. Malaria deaths.  Click 'Maps & Charts' in our navigation or the images below to check out our data visualizations.  Our project is backed by a Python script that feeds a CSV document (see data source above in navigation) into a PostgreSQL database and table.
						</p>
						<p>---</p>
						<p>According to the World Health Organization, there were approximately 219 million Malaria cases worldwide in 2017.</p>
						<p>
							<a class="btn btn-primary btn-large" href="https://www.who.int/malaria/en/">More Information</a>
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
						<a href="main"><img
							src="https://raw.githubusercontent.com/jschwan1282/Project-3/master/images/rsz_leafletmap.jpg" width="400" height="auto"
							alt="leaflet map" class="frontpagepics"></a>
					<h3>
						GDP and Malaria Deaths
					</h3>
					<p>
						This interactive Leaflet map illustrates each country's GDP per capita and provides Malaria mortality statistics, including by age group.
					</p>
					<p>
						<a class="btn" href="main">View map »</a>
					</p>
				</div>
				<div class="col-md-4">
						<a href="main2"><img
							src="https://raw.githubusercontent.com/jschwan1282/Project-3/master/images/rsz_bargraph.jpg" width="400" height="auto"
							alt="am charts map" class="frontpagepics"></a>
					<h3>
						Malaria Death Trends
					</h3>
					<p>
						This bar graph was created using the Charts.js library and displays worldwide a quick view of the decline in Malaria deaths in the 2000s.
					</p>
					<p>
						<a class="btn" href="main2">View graph »</a>
					</p>
				</div>
				<div class="col-md-4">
						<a href="plots"><img
							src="https://raw.githubusercontent.com/jschwan1282/Project-3/master/images/rsz_plotlychart.jpg" width="400" height="auto"
							alt="plotly chart" class="frontpagepics"></a>
					<h3>
						Comparing GDP & Deaths
					</h3>
					<p>
						This scatter plot, made using the library Charts.js, provides a visualization for the relationship between GDP per capita and Malaria mortality.
					</p>
					<p>
						<a class="btn" href="plots">View chart »</a>
					</p>
				</div>
			</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>