<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>GDP and Total Deaths by Country</title>

    <!-- chart JS & CSS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
 
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/styleMain2.css">

  </head>
  <body>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    
    <!-- JS  -->
    <script type="text/javascript" src="static/logic3.js"></script>

  </body>
</html>
